h1, h2, h3, h4, h5, h6, p, body{
    margin: 0;
    padding: 0;
}

.header {
    background-color: #8794ac;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #04246b;
}

.header > .left-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header > .left-header > .logo {
    height: 75px;
    width: 75px;
    padding-left: 15px;
}

.header > .left-header > .discord-btn {
    display: flex;
    padding-left: 10%;
}

.header > .left-header > .discord-btn > .discord {
    background-color:#04246b;
    border: 0;
    padding: 15px;
    border-radius: 50px;
    color: #8794ac;
    outline: none;
}

.header > .left-header > .discord-btn > .discord:hover {
    cursor: pointer;
}

.header > .center-header {
    width: 100%;
    text-align: center;
}

.header > .right-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.header > .right-header a {
    text-decoration: none;
    color: #04246b;
}

.content-body {
    background-color: #344472;
}

.content-body > .body-header {
    color: #04246b;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content-body > .body-content {
    color: #8794ac;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
}
