h1, h2, h3, h4, h5, h6, p, body{
    margin: 0;
    padding: 0;
}

.header {
    background-color: #005596;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header > .left-header {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 5px;
}

.header > .left-header > .logo {
    height: 75px;
    width: 75px;
    padding-left: 10px;
}

.header > .left-header > .discord-btn {
    display: flex;
    padding-left: 10%;
}

.header > .left-header > .discord-btn > .discord {
    background-color: #F3901D;
    border: 0;
    padding: 15px;
    border-radius: 50px;
    color: #002D56;
    outline: none;
}

.header > .right-header {
    width: 50%;
}

